* {
	font-family: "Source Sans Pro", sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: #f5f4f4;
	transition: 0.3s ease all;
}

body.dark {
	background: #0a0b0b;
}

.nav {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 1.4rem;
	background-color: #e9e8e8;
	box-shadow: 0 0 0 100vmax #000000cc;
	visibility: hidden;
	width: 0;
	padding-top: 8.5rem;
	transition: 0.3s;
}

body.dark .nav {
	background: #222222;
}

.nav.visible {
	opacity: 1;
	visibility: visible;
	padding-top: 4rem;
	padding: 8.5rem 2.5rem;
	width: 11.5rem;
}

.switch {
	background-color: #343d5b;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	outline: none;
	flex: 2rem;
}

.switch::after {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	background: #f1f1f1;
	top: 0;
	left: 0;
	right: unset;
	border-radius: 100px;
	transition: 0.3s ease all;
	box-shadow: 0px 0px 2px 2px #00000033;
}

.switch.active-dark {
	background: #ffa500;
	color: #000;
}

.switch.active-dark::after {
	right: 0;
	left: unset;
}

.switch span {
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: block;
	background: none;
	color: #fff;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	margin-bottom: 3rem;
	background-color: #ffffff;
	box-shadow: 1px 1px 18px 6px #e9e8e8;
	transition: 0.3s ease all;
}

body.dark header {
	background: #222222;
	box-shadow: 10px 10px 20px #00000029;
	color: #c8c8c8;
}

.logo {
	max-width: 5rem;
}

.container-nav {
	display: flex;
	gap: 2.3rem;
}

.options {
	list-style-type: none;
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

.options li a {
	text-decoration: none;
	color: #575757;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	transition: 0.3s ease, transform 0.2s;
}

body.dark .options li a {
	color: #c8c8c8;
}

.redes {
	width: 6rem;
	height: 2.5rem;
}

.linkedln {
	width: 6rem;
	display: none;
}

.hamburger {
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
	z-index: 1001;
}
.hamburger:hover {
	opacity: 0.7;
}
.hamburger.active:hover {
	opacity: 0.7;
}
.hamburger.active .hamburger-inner,
.hamburger.active .hamburger-inner::before,
.hamburger.active .hamburger-inner::after {
	background-color: #000;
}

.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.content-button {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.content-button,
.content-button::before,
.content-button::after {
	width: 40px;
	height: 4px;
	background-color: #000000;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}

body.dark .content-button {
	background-color: #c8c8c8;
}

body.dark .content-button::before {
	background-color: #c8c8c8;
}

body.dark .content-button::after {
	background-color: #c8c8c8;
}

.content-button::before,
.content-button::after {
	content: "";
	display: block;
}
.content-button::before {
	top: -10px;
}
.content-button::after {
	bottom: -10px;
}

.animation .content-button {
	transition-duration: 0.075s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.animation .content-button::before {
	transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.animation .content-button::after {
	transition: bottom 0.075s 0.12s ease,
		transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.animation.active .content-button {
	transform: rotate(45deg);
	transition-delay: 0.12s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.animation.active .content-button::before {
	top: 0;
	opacity: 0;
	transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.animation.active .content-button::after {
	bottom: 0;
	transform: rotate(-90deg);
	transition: bottom 0.075s ease,
		transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.textarea {
	background-color: #ffffff;
	font-size: larger;
	width: 18rem;
	height: 25rem;
	max-width: 19rem;
	max-height: 26rem;
	border: 0px;
	border-radius: 2rem;
	margin-bottom: 1.2rem;
	resize: none;
	box-shadow: 1px 1px 18px 6px #e9e8e8;
	outline: 0px;
	padding: 2rem;
	transition: 0.3s ease all;
}

body.dark .textarea {
	background: #222222;
	box-shadow: 10px 10px 20px #00000029;
	color: #c8c8c8;
}

.buttons {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 2.4rem 0;
}

.btns {
	font-size: 1rem;
	background-color: #ffffff;
	min-width: 6.5rem;
	min-height: 3.5rem;
	border: 0px;
	border-radius: 1.2rem;
	box-shadow: 1px 1px 18px 6px #e9e8e8;
	margin: 0.4rem;
	cursor: pointer;
	transition: .3s ease, transform .2s;
}

.btns:active {
	transform: scale(0.8);
}

body.dark p {
	transition: 0.3s ease;
	color: #c8c8c8;
}

body.dark .btns {
	background: #222222;
	box-shadow: 10px 10px 20px #00000029;
	color: #c8c8c8;
}

.dev {
	padding-top: 10rem;
}

body.dark footer {
	background: #222222;
	box-shadow: 10px 10px 20px #00000029;
	color: #c8c8c8;
}